body, h1, h2, h3, h4, h5, h6, p, ul, li, ol, dl, dd, dt, figure, figcaption, fieldset, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal;
}

html {
  color: #666;
}

body {
  font-size: 16px;
}

ol, ul, li {
  list-style: none;
}

b, strong {
  font-weight: normal;
}

i, em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #666;
}

img {
  display: block;
}

input {
  outline: none;
}

.clear_fix::after {
  content: "\20";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.shopping_title {
  width: 960px;
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: pink;
  font-size: 12px;
}
.shopping_title li {
  float: left;
}
.shopping_title .f1 {
  width: 202px;
}
.shopping_title .f2 {
  width: 280px;
}
.shopping_title .f3 {
  width: 130px;
}
.shopping_title .f4 {
  width: 130px;
}
.shopping_title .f5 {
  width: 70px;
}

#item_list {
  width: 100%;
}

.shopping_list {
  width: 960px;
  border: 1px solid #ebebeb;
  margin: 0 auto;
}
.shopping_list td {
  vertical-align: top;
  padding-top: 15px;
  position: relative;
  line-height: 22px;
  text-align: center;
}
.shopping_list .row1 {
  padding: 0 0 0 10px;
  width: 42px;
  vertical-align: middle;
}
.shopping_list .row_img {
  padding: 20px 20px 20px 0;
  width: 80px;
  border-bottom: 0;
  position: relative;
  z-index: 9;
  font-size: 0;
  line-height: 0;
}
.shopping_list .row_img img {
  display: block;
  width: 80px;
  height: 80px;
}
.shopping_list .row_name {
  width: 330px;
  line-height: 18px;
  text-align: left;
  position: relative;
  padding-top: 17px;
  color: #323232;
  font-size: 12px;
}
.shopping_list .row_name P {
  display: block;
  width: 100%;
  height: 36px;
  overflow: hidden;
  margin-top: 27px;
}
.shopping_list .row3 {
  width: 130px;
  padding-top: 40px;
}
.shopping_list .fn-count-tip {
  width: 130px;
  padding-top: 32px;
}
.shopping_list .fn-count-tip span {
  display: block;
  border: 1px solid #dcdcdc;
  height: 28px;
  width: 94px;
  line-height: 28px;
  font-size: 14px;
  margin: 5px 15px 5px 0;
  overflow: hidden;
}
.shopping_list .fn-count-tip span a {
  display: block;
  float: left;
  height: 28px;
  width: 28px;
  background-color: #f4f4f4;
}
.shopping_list .fn-count-tip span input {
  width: 36px;
  height: 28px;
  line-height: 28px\9;
  float: left;
  padding: 0;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-width: 0 1px;
  background-color: #fff;
  font-weight: bold;
}
.shopping_list .row4 {
  padding-top: 32px;
  width: 130px;
  color: #323232;
}
.shopping_list .row4 span {
  display: block;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  margin: 5px 15px 5px 0;
}
.shopping_list .row5 {
  padding-top: 32px;
  width: 130px;
  color: #323232;
}
.shopping_list .row5 a {
  display: block;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  margin: 5px 20px 5px 0;
  color: #323232;
}

.shopping_total {
  width: 960px;
  height: 72px;
  z-index: 10;
  margin: 20px auto;
  padding: 0 62px;
  background: url(../img/shopping_total.png) 0 center no-repeat;
  position: relative;
}
.shopping_total .shopping_total_right {
  float: right;
  margin: 25px 0 0;
  width: 530px;
  position: relative;
}
.shopping_total .shopping_total_right .subtotal {
  padding-right: 30px;
  line-height: 24px;
  float: right;
}
.shopping_total .shopping_total_right .subtotal .cartsum {
  width: 114px;
  text-align: right;
  padding: 0 8px 0 0;
}
.shopping_total .shopping_total_right .subtotal .price {
  font-size: 18px;
  color: #ff2832;
}
.shopping_total .shopping_total_left {
  float: left;
  line-height: 58px;
  width: 430px;
  position: relative;
  font-size: 12px;
}
.shopping_total .shopping_total_left a {
  margin-left: 28px;
}
.shopping_total .shopping_total_left span {
  margin-left: 80px;
}
.shopping_total .shopping_total_left span i {
  color: red;
}

/*# sourceMappingURL=shopcart.css.map */
